@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

:root{
    --font-ubuntu: "Ubuntu Mono", "Outfit"
}

@theme{
    --font-ubuntu: var(--font-ubuntu)
}

input[type='file']::-webkit-file-upload-button{
    padding-inline: 6px;
    background-color: lightgray;
    border: 1px solid rgb(94, 94, 94);
    border-radius: 3px;
}
